.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.img-list img{
    height: 150px;
}

.main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.start{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 17px;
}
.pricrs{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 800;
}
.old-price{
    color: #3d3d3d;
    text-decoration: line-through;
}
.new{
    color: #ff4141;
    
}
.select-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.select-size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #3d3d3d;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-weight: 700;
    background-color: #ff4141;
    font-size: 16px;
    color: aliceblue;
    outline: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.cat{margin-top: 10px;
}
.cat span{
    font-weight: 600;
}
.Add:active{
    transition: .5s;
    background-color: #1c1c1c;
    color: #fbfbfb;
    transform: scale(1.15);
}